<mat-card>
    <mat-card-title>Voeg levenslijn item toe</mat-card-title>
    <mat-card-content>
      <form [formGroup]="levenslijn" (ngSubmit)='onSubmit()'>
        <mat-form-field>
          <input 
          matInput 
          aria-label="naam"
          placeholder="naam" 
          type="text" 
          formControlName="naam"
          required
          />
          
          <mat-error *ngIf="levenslijn.get('naam')['errors']?.required && 
          levenslijn.get('naam').touched">
            {{ getErrorMessage(levenslijn.get('naam')['errors']) }}
          </mat-error>
           
        </mat-form-field>
        <div>
          <mat-form-field>
            <input 
            matInput 
            type="text" 
            aria-label="beschrijving"
            placeholder="beschrijving" 
            formControlName="beschrijving"/>
          </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input 
                matInput 
                type="date" 
                aria-label="datum"
                placeholder="datum" 
                formControlName="datum"/>
              </mat-form-field>
        </div>
            
        <button mat-raised-button type="submit" [disabled]='!levenslijn.valid'>
          add levenslijn item
        </button>
      </form>
    </mat-card-content>
    </mat-card> 
