<div fxLayout="column" fxLayoutGap="2%">
  <app-add-emotie (newEmotie)="addNewEmotie($event)"></app-add-emotie>
  <!--
  <mat-card>
    <mat-form-field>
      <input 
      matInput 
      (keyup)="filterEmotieBeschrijving$.next($event.target.value)"
      placeholder="filter" 
      type="text" 
      data-cy="filterInput" 
      [value]="filterEmotieBeschrijving" />
    </mat-form-field>
  </mat-card>
-->
  <div *ngIf="emoties$ | async as emoties;">
  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="0.5%"
    fxLayoutAlign="start"
  >

    <div 
      class="emotie"
      *ngFor="let emotie of emoties "
      fxFlex="0 0 calc(25%-0.5%)"
      fxFlex.xs="100%"
    >
      <app-emotieregulatie [emotie]="emotie"></app-emotieregulatie>
    </div>
  </div>
</div>
</div>
